<a href="https://colab.research.google.com/github/vortexash/Dockship-competition-solutions/blob/main/Cipla_Hiring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, LabelEncoder, StandardScaler

In [2]:
train_df = pd.read_csv("/content/train.csv")
test_df = pd.read_csv("/content/test.csv")

In [3]:
train_df.head()

  Customer ID               Name  ... Property Price  Loan Sanction Amount (USD)
0     C-36995   Frederica Shealy  ...      119933.46                    54607.18
1     C-33999  America Calderone  ...       54791.00                    37469.98
2      C-3770      Rosetta Verne  ...       72440.58                    36474.43
3     C-26480         Zoe Chitty  ...      121441.51                    56040.54
4     C-23459       Afton Venema  ...      208567.91                    74008.28

[5 rows x 24 columns]

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer ID                  30000 non-null  object
 1   Name                         30000 non-null  object
 2   Gender                       29947 non-null  object
 3   Age                          30000 non-null  int64
 4   Income (USD)                 25424 non-null  float64
 5   Income Stability             28317 non-null  object
 6   Profession                   30000 non-null  object
 7   Type of Employment           22730 non-null  object
 8   Location                     30000 non-null  object
 9   Loan Amount Request (USD)    30000 non-null  float64
 10  Current Loan Expenses (USD)  29828 non-null  float64
 11  Expense Type 1               30000 non-null  object
 12  Expense Type 2               30000 non-null  object
 13  Dependents                   27507 non-null  float64
 14  Credit Score                 28297 non-null  float64
 15  No. of Defaults              30000 non-null  int64
 16  Has Active Credit Card       28434 non-null  object
 17  Property ID                  30000 non-null  int64
 18  Property Age                 25150 non-null  float64
 19  Property Type                30000 non-null  int64
 20  Property Location            29644 non-null  object
 21  Co-Applicant                 30000 non-null  int64
 22  Property Price               30000 non-null  float64
 23  Loan Sanction Amount (USD)   29660 non-null  float64
dtypes: float64(8), int64(5), object(11)
memory usage: 5.5+ MB

In [6]:
train_df.nunique()

Customer ID                    30000
Name                           30000
Gender                             2
Age                               48
Income (USD)                   24429
Income Stability                   2
Profession                         8
Type of Employment                18
Location                           3
Loan Amount Request (USD)      29982
Current Loan Expenses (USD)    24041
Expense Type 1                     2
Expense Type 2                     2
Dependents                        10
Credit Score                   17586
No. of Defaults                    2
Has Active Credit Card             3
Property ID                      999
Property Age                   24179
Property Type                      4
Property Location                  3
Co-Applicant                       3
Property Price                 29632
Loan Sanction Amount (USD)     21450
dtype: int64

In [8]:
(train_df.isna().sum()/train_df.shape[0])*100

Customer ID                     0.000000
Name                            0.000000
Gender                          0.176667
Age                             0.000000
Income (USD)                   15.253333
Income Stability                5.610000
Profession                      0.000000
Type of Employment             24.233333
Location                        0.000000
Loan Amount Request (USD)       0.000000
Current Loan Expenses (USD)     0.573333
Expense Type 1                  0.000000
Expense Type 2                  0.000000
Dependents                      8.310000
Credit Score                    5.676667
No. of Defaults                 0.000000
Has Active Credit Card          5.220000
Property ID                     0.000000
Property Age                   16.166667
Property Type                   0.000000
Property Location               1.186667
Co-Applicant                    0.000000
Property Price                  0.000000
Loan Sanction Amount (USD)      1.133333
dtype: float64

In [9]:
cnames_numeric=list(train_df.select_dtypes(exclude=['object']).columns)

In [10]:
cnames_numeric

['Age',
 'Income (USD)',
 'Loan Amount Request (USD)',
 'Current Loan Expenses (USD)',
 'Dependents',
 'Credit Score',
 'No. of Defaults',
 'Property ID',
 'Property Age',
 'Property Type',
 'Co-Applicant',
 'Property Price',
 'Loan Sanction Amount (USD)']

In [11]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

cnames_object=list(train_df.select_dtypes(exclude=numerics).columns)

In [12]:
cnames_object

['Customer ID',
 'Name',
 'Gender',
 'Income Stability',
 'Profession',
 'Type of Employment',
 'Location',
 'Expense Type 1',
 'Expense Type 2',
 'Has Active Credit Card',
 'Property Location']

In [13]:
train_df.head()

  Customer ID               Name  ... Property Price  Loan Sanction Amount (USD)
0     C-36995   Frederica Shealy  ...      119933.46                    54607.18
1     C-33999  America Calderone  ...       54791.00                    37469.98
2      C-3770      Rosetta Verne  ...       72440.58                    36474.43
3     C-26480         Zoe Chitty  ...      121441.51                    56040.54
4     C-23459       Afton Venema  ...      208567.91                    74008.28

[5 rows x 24 columns]

In [ ]:
def fill_na(data,columns):
  for i in columns:
    if data[i].dtype == 'object':
      data[i].fill_na(data[i].mode()[0],inplace=True)

    elif data[i].dtype == 'int32' or data[i].dtype == 'float64':
      data[i].fill_na(data[i].median,inplace=True)
  return data



def encode_data(data,columns):
  for i in column:
    if data[i].nunique()>4: